html{
    background-color: rgba(0, 0, 0, 0.342);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-size: 55rem;
    font-size: larger;
    font-family: "Handjet", sans-serif;
    font-size: x-large;
}
.my_intro{
    padding-left: 100px;
    padding-top: 120px;
    padding-bottom: 155px;
    background-position: center;
    background-position-y: top;
    margin: -0.5%;
    padding-left: 5vw;
    padding-top: 10vh;
    padding-bottom: 15vh;
}

.background_image{
    position: fixed;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: -10%;
    left: -17%;
    z-index: -1;
}

.main_body{
    background-color:rgba(61, 66, 92, 0.5);
    border-radius: 10%;
    margin: 3%;

    position: relative;
    bottom: -25%;
}

h4{
    color: rgb(126, 109, 189);
    font-size: medium;
}
h1{
    color: gainsboro;

}
h2{
    color: gainsboro;

}
h3{
    color: rgb(105, 56, 253);

}
ul{
    color: gainsboro;

}

.introduction{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: calc(1rem + 1vw);
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}
#profile_img{
    padding-right: 7rem;
    max-width: 20%;
    height: auto;
}
#greet{
    font-size: larger;
}

#creations{
    padding-top: 50px;
}
.titles{
    text-align: center;
    text-align-last: center;
    padding-left: 40px;
    font-size: xx-large;
    font-weight: bolder;
}
.lists{
    text-align: justify;
    text-align-last: center;
}
#I_am{
    font-size: larger;
}