html{
    background-color: rgba(0, 0, 0, 0.342);
    background-size: 55rem;
    font-size: larger;
    font-family: "Handjet", sans-serif;
    font-size: x-large;
}
.my_intro{
    padding-left: 100px;
    padding-top: 120px;
    padding-bottom: 155px;
    background-position: center;
    background-position-y: top;
    margin: -0.5%;
}

.background_image{
    position: fixed;
    margin: 0%;
    top: -10%;
    left: -17%;
    z-index: -1;
}

.main_body{
    background-color: blue;
    border-radius: 10%;
    margin: 3%;
    opacity: 80%;
    position: relative;
    bottom: -25%;
}

h4{
    color: rgb(126, 109, 189);
    font-size: medium;
}
h1{
    color: gainsboro;

}
h2{
    color: gainsboro;

}
h3{
    color: rgb(18, 5, 76);

}
ul{
    color: gainsboro;

}

.introduction{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}
#profile_img{
    padding-right: 100px;
}
#greet{
    font-size: larger;
}

#creations{
    padding-top: 50px;
}
.titles{
    text-align: center;
    text-align-last: center;
    padding-left: 40px;
    font-size: xx-large;
    font-weight: bolder;
}
.lists{
    text-align: justify;
    text-align-last: center;
}
#I_am{
    font-size: larger;
}