html{
    background-image: linear-gradient(to right, darkslateblue,black);
    font-size: larger;
}
h4{
    color:gainsboro;
}
h1{
    color: blueviolet;

}
h2{
    color: blueviolet;

}
h3{
    color: gainsboro;

}
ul{
    color: darkturquoise;

}
hr{
    color: black;
}
a{
    color: darkturquoise;

}
